<div class="team-container">
 <!--  <%= image_tag "", alt: "alttext", :class => "football-background" %> -->
  <div class="team-card">
    <div class="team-card-top">
      <% @team.games.each do |game| %>
        <p><%= image_tag "#{game.sport.downcase}.svg", alt: "alttext", :id => "sport-logo-small" %></p>
          <h4 class="text-center show-team-font pt-2"> <%= @team.name %></h4>
        <p><%= image_tag "#{game.sport.downcase}.svg", alt: "alttext", :id => "sport-logo-small" %></p>
      <% end %>
    </div>

    <div class="team-card-left">
      <h3> Captain <h3>
      <h3><%= @team.user.first_name %> <%= @team.user.last_name %></h3>
      <% if @team.user && @team.user.photo.attached? %>
        <%= cl_image_tag @team.user.photo.key, :class => "avatar-card" %>
      <% else %>
        <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="avatar-card" />
      <% end %>
      <br>
      <br>
          <h3> Other Team Members</h3>
            <% @team.memberships.each do |member| %>
            <% if member.user && member.user.photo.attached? %>
               <span> <%= cl_image_tag member.user.photo.key, :class => "avatar-small" %>
            <% else %>
              <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="avatar-small" />
            <% end %>
             <%= member.user.first_name %> <%= member.user.last_name %></span>
            <% end %>
    </div>

    <div class="team-card-right">
      <p>Bio: ???</p>
      <p>League Table</p>
      <p> <%= link_to "Create a game", new_team_game_path(@team), :class => "green-button" %></p>
    </div>

      <% if current_user != @team.user %>
        <p><%= simple_form_for ([@team, @membership]) do |f| %></p>
        <p><%= f.button :submit, 'Become a squad member', id:"join-button" %></p>
      <% end %>
    <% end %>

  </div>
</div>


