<div class="team-container">
 <!--  <%= image_tag "", alt: "alttext", :class => "football-background" %> -->
  <div class="team-card">
    <% @team.games.each do |game| %>
      <div class="team-card-top">
        <p><%= image_tag "#{game.sport.downcase}.svg", alt: "alttext", :id => "sport-logo-medium" %></p>
          <h4 class="text-center show-team-font pt-2"> <%= @team.name %></h4>
        <p><%= image_tag "#{game.sport.downcase}.svg", alt: "alttext", :id => "sport-logo-medium" %></p>
      </div>
      <div class="team-card-body">
        <p> Captain: <%= @team.user.first_name %> <%= @team.user.last_name %></p>
          <p> Other Members</p>
            <% @team.memberships.each do |member| %>
              <p><%= member.user.first_name %></p>
            <% end %>
              <p>Bio: ???</p>
                <p>League Table</p>
      </div>
        <p> <%= link_to "Create a game", new_team_game_path(@team), :class => "green-button" %></p>
    <% end %>
      <% if current_user != @team.user %>
        <p><%= simple_form_for ([@team, @membership]) do |f| %></p>
        <p><%= f.button :submit, 'Become a squad member', id:"join-button" %></p>
      <% end %>
    <% end %>
  </div>
</div>


