<div class="team-container">
 <!--  <%= image_tag "", alt: "alttext", :class => "football-background" %> -->

  <div class="team-card">

    <div class="team-card-top">
      <% @team.games.each do |game| %>
        <p><%= image_tag "#{game.sport.downcase}.svg", alt: "alttext", :id => "sport-logo-small" %></p>
          <h4 class="text-center show-team-font pt-2"> <%= @team.name %></h4>
        <p><%= image_tag "#{game.sport.downcase}.svg", alt: "alttext", :id => "sport-logo-small" %></p>
      <% end %>
    </div>

    <div class="team-card-left">
      <div>
      <h4>Captain: <%= @team.user.first_name %> <%= @team.user.last_name %></h4>
      <% if @team.user && @team.user.photo.attached? %>
        <%= cl_image_tag @team.user.photo.key, :class => "avatar-card" %>
      <% else %>
        <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="avatar-card" />
      <% end %>
      <br>
      <br>
      <p> <%= link_to "Create a game", new_team_game_path(@team), :id => "join-button" %></p>
      </div>

      <div style="border-top: 1px solid orange; padding-top: 12px;">
          <h4> Other Team Members</h4>
            <% @team.memberships.each do |member| %>
            <% if member.user && member.user.photo.attached? %>
               <span> <%= cl_image_tag member.user.photo.key, :class => "avatar-small" %>
            <% else %>
              <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="avatar-small" />
            <% end %></span>
             <span><%= member.user.first_name %> <%= member.user.last_name %></span>
            <% end %>
      </div>
    </div>

    <div class="team-card-right">
      <br>
      <h4>League Table</h4>
      <table class="team-table" style="width:100%">
        <tr style="background-color:white;">
          <th>POS</th>
          <th></th>
          <th>P</th>
          <th>W</th>
          <th>D</th>
          <th>L</th>
          <th>GD</th>
          <th>PTS</th>
        </tr>
        <tr>
          <th>1</th>
          <th>Puff Puff Pass</th>
          <th>7</th>
          <th>6</th>
          <th>0</th>
          <th>1</th>
          <th>24</th>
          <th>18</th>
        </tr>
       <em><tr style="background-color:white; color:orange;"></em>
          <th>2</th>
          <th> <%= @team.name %></th>
          <th>6</th>
          <th>6</th>
          <th>0</th>
          <th>0</th>
          <th>16</th>
          <th>18</th>
        </tr>
        <tr>
          <th>3</th>
          <th>Werder Beermen</th>
          <th>7</th>
          <th>5</th>
          <th>1</th>
          <th>1</th>
          <th>10</th>
          <th>16</th>
        </tr>
        <tr style="background-color:white;">
          <th>4</th>
          <th>Boca Seniors</th>
          <th>8</th>
          <th>3</th>
          <th>1</th>
          <th>4</th>
          <th>-3</th>
          <th>10</th>
        </tr>
        <tr>
          <th>5</th>
          <th>Penguin FC</th>
          <th>8</th>
          <th>3</th>
          <th>0</th>
          <th>5</th>
          <th>-7</th>
          <th>9</th>
        </tr>
        <tr style="background-color:white;">
          <th>6</th>
          <th>FC Poor Toe</th>
          <th>7</th>
          <th>3</th>
          <th>0</th>
          <th>4</th>
          <th>-13</th>
          <th>9</th>
        </tr>
        <tr>
          <th>7</th>
          <th>The Hackney Parrots</th>
          <th>7</th>
          <th>2</th>
          <th>0</th>
          <th>5</th>
          <th>-10</th>
          <th>6</th>
        </tr>
        <tr style="background-color:white;">
          <th>8</th>
          <th>Obi One Kenobi Nil</th>
          <th>6</th>
          <th>1</th>
          <th>1</th>
          <th>4</th>
          <th>-3</th>
          <th>4</th>
        </tr>
        <tr>
          <th>9</th>
          <th>Ivory Toast</th>
          <th>8</th>
          <th>1</th>
          <th>1</th>
          <th>6</th>
          <th>-14</th>
          <th>4</th>
        </tr>
      </table>




      <br>
        <% if current_user != @team.user %>
          <p><%= simple_form_for ([@team, @membership]) do |f| %></p>
          <p><%= f.button :submit, "Follow team", id:"join-button" %></p>
        <% end %>
      <% end %>
    </div>

  </div>


</div>


