<div class="background-banner">

 <div class="main-info">

    <div class="text-container">
      <br>
      <br>
      <h1 class="header-text">Find a Ringr.</h1>
      <h1 class="header-text">Find a Team.</h1>
      <h1 class="header-text">Play Today.</h1>
      <h3 class="sub-header-text">Ringr seamlessly matches competitive sports teams with players at short notice.</h3>
    </div>

    <div class="d-flex align-center">
      <div class="p-3"><a href="#play-now" class="main-button">Play now!</a></div>
      <div class="p-3"><a href="#find-out-more" class="green-button">Find out more</a></div>
    </div>
  </div>

<!-- Middle 1/3 -->

  <div class="background-collage" style="background-image: url(<%= asset_path "background_done_now.png" %>);"></div>
</div>

<a id="find-out-more"></a>
<br>

<div class="info-cards">
  <div class="home-page-card">
    <h3 class="text-center">What we do</h3>
      <p class="text-center align-center">Ringr instantly links teams with players. Through our advanced algorithm we make the right connection, leaving you to get the job done on the pitch.</p><%= image_tag "cricket_amateur.png", :id => 'cricket-image' %>
  </div>

  <div class="home-page-card">
    <%= image_tag "rugby_orange.png", :class => 'style-image' %>
    <br>
    <br>
      <h3 class="text-center" id="green">Captains</h3>
        <p class="text-center">Last minute dropouts are a regular problem for sports teams. Just getting a squad together can be a stressful process. Fortunately, Ringr can find you keen reinforcements nearby, however last minute!
          <div class="p-2">
            <a href="#find-out-more" class="green-button">Find a ringr</a>
          </div>
        </p>
  </div>

  <div class="home-page-card">
    <h3 class="text-center" style="color: orange">Players</h3>
      <p class="text-center">Whether you've knocked off work early and want to let off some steam, or just can't get your mates together for a game, Ringr puts you in the action, connecting you to teams in need of an extra player.</p>
        <div class="p-3">
          <a href="#play-now" class="main-button">Find a game</a>
        </div> <%= image_tag "ringr_footy.png", :class => 'style-image' %>
  </div>
</div>

<!-- Bottom 1/3 -->

<a id="play-now"></a>

<div class="logo-container cursor: pointer;">
<%= simple_form_for :filter, url: games_path, method: :get do |f| %>
  <fieldset class="form-group check_boxes required filter_sports ">
    <legend class="col-form-label text-center"><h1 class="pb-5 sub-header-text">I'd like to play:</h1><abbr title="required"></abbr></legend>
     <% Game::SPORTS.each do |sport| %>
    <div class="form-check custom-control custom-checkbox custom-control-inline">
      <input class="form-check-input check_boxes required" type="checkbox" value="<%= sport %>" name="filter[sports][]" id="filter_sports_<%= sport.downcase %>">
      <label class="form-check-label collection_check_boxes" for="filter_sports_<%= sport.downcase %>"><%= image_tag("#{sport.downcase}.svg", id: "sport-logo") %></label>
    </div>
    <% end %>
  </fieldset>
  <div class="text-center pt-2">
  <%= f.submit 'Let\'s go!', :class => 'main-button', :id => 'lets-play-btn' %>
  </div>
<% end %>

</div>
