<div class="background-banner">
  <div class="main-info">

    <div class="text-container">
      <br>
      <br>
      <br>
      <h1 class="header-text">Find players.</h1>
      <h1 class="header-text">Find a team.</h1>
      <h1 class="header-text">Play today.</h1>
      <h3 class="sub-header-text">Ringr seamlessly matches competitive sports teams with players at short notice.</h3>
    </div>

    <div class="d-flex align-center">
      <div class="p-3"><%= link_to "Create a team", new_team_path, :class => "main-button" %></div>
      <div class="p-3"><a href="#find-out-more" class="main-button">Find out more</a></div>
    </div>
  </div>

  <div class="background-collage" style="background-image: url(<%= asset_path "improved-collage.png" %>);"></div>
</div>

    <div class="logo-container">
      <div class="logo-div"> <%= image_tag("football.svg", alt: "football", id: "sport-logo") %> </div>
      <div class="logo-div"> <%= image_tag("basketball.svg", alt: "basketball", id: "sport-logo") %> </div>
      <div class="logo-div"> <%= image_tag("cricket.svg", alt: "cricket", id: "sport-logo") %> </div>
    </div>

    <div class="logo-container">
      <div class="logo-div"> <%= image_tag("hockey.svg", alt: "hockey", id: "sport-logo") %></div>
      <div class="logo-div"> <%= image_tag("netball.svg", alt: "netball", id: "sport-logo") %> </div>
      <div class="logo-div"> <%= image_tag("rugby.svg", alt: "rugby", id: "sport-logo") %> </div>
    </div>


<!-- INPUT LIST -->

    <div class="container">
    <div class="row justify-content-center">
      <div class="col-sm-8 text-center">
        <h3>Select your favourite sports:</h3>

        <div class="d-flex flex-wrap justify-content-center pt-4">
          <div class="clickable logo-div"> <%= image_tag("football.svg", alt: "football", id: "sport-logo") %>
            <small><%= link_to "Football", new_team_path, remote: true %></small>
          </div>
          <div class="clickable logo-div"> <%= image_tag("basketball.svg", alt: "basketball", id: "sport-logo") %>
            <small>Basketball</small>
          </div>
          <div class="clickable logo-div"> <%= image_tag("cricket.svg", alt: "cricket", id: "sport-logo") %>
            <small>Cricket</small>
          </div>
          <div class="clickable logo-div"> <%= image_tag("hockey.svg", alt: "hockey", id: "sport-logo") %>
            <small>Hockey</small>
          </div>
          <div class="clickable logo-div"> <%= image_tag("netball.svg", alt: "netball", id: "sport-logo") %>
            <small>Netball</small>
          </div>
          <div class="clickable logo-div"> <%= image_tag("rugby.svg", alt: "rugby", id: "sport-logo") %>
            <small>Rugby</small>
          </div>
        </div>
      </div>
    </div>
</div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <a id="find-out-more"> Hello! </h1>





