<div class="background-banner">
  <div class="main-info">

    <div class="text-container">
      <br>
      <br>
      <br>
      <h1 class="header-text">Find players.</h1>
      <h1 class="header-text">Find a team.</h1>
      <h1 class="header-text">Play today.</h1>
      <h3 class="sub-header-text">Ringr seamlessly matches competitive sports teams with players at short notice.</h3>
    </div>

    <div class="d-flex align-center">
      <div class="p-3"><%= link_to "Create a team", new_team_path, :class => "main-button" %></div>
      <div class="p-3"><a href="#find-out-more" class="main-button">Find out more</a></div>
    </div>
  </div>

  <div class="background-collage" style="background-image: url(<%= asset_path "improved-collage.png" %>);"></div>
</div>

    <div class="logo-container">
      <div class="logo-div"> <%= image_tag("football.svg", alt: "football", id: "sport-logo") %> </div>
      <div class="logo-div"> <%= image_tag("basketball.svg", alt: "basketball", id: "sport-logo") %> </div>
      <div class="logo-div"> <%= image_tag("cricket.svg", alt: "cricket", id: "sport-logo") %> </div>
    </div>

    <div class="logo-container">
      <div class="logo-div"> <%= image_tag("hockey.svg", alt: "hockey", id: "sport-logo") %></a> </div>
      <div class="logo-div"> <%= image_tag("netball.svg", alt: "netball", id: "sport-logo") %> </div>
      <div class="logo-div"> <%= image_tag("rugby.svg", alt: "rugby", id: "sport-logo") %> </div>
    </div>

    <div class="form">
            <h1>Search for games</h1>
              <%= form_tag games_path, method: :get, id: :search_form do %>
                <%= text_field_tag :address, params[:address], class: "form-style", placeholder: "Search by address" %>
                <%= submit_tag "Find a game", class: "home-button" %>
              <% end %>
    </div>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <a id="find-out-more"> Hello! </h1>




