<div class="background-banner">
  <div class="main-info">

    <div class="text-container">
      <h1 class="header-text">Team sports made simple</h1>
        <br>
        <h3 class="sub-header-text">Ringr connects competitive sports teams and players</h3>
        <br>
    </div>

    <div class="d-flex align-center">
      <div class="p-3"><%= link_to "Create a team", new_team_path, :class => "main-button" %></div>
      <div class="p-3"><%= link_to "Find out more", new_team_path, :class => "main-button" %></div>
    </div>

    <br>

    <div class="logo-container">
      <div class="logo-div"> <%= image_tag("football.svg", alt: "football", id: "sport-logo") %> </div>
      <div class="logo-div"> <%= image_tag("basketball.svg", alt: "basketball", id: "sport-logo") %> </div>
      <div class="logo-div"> <%= image_tag("cricket.svg", alt: "cricket", id: "sport-logo") %> </div>
    </div>

    <div class="logo-container">
      <div class="logo-div"> <%= image_tag("hockey.svg", alt: "hockey", id: "sport-logo") %></a> </div>
      <div class="logo-div"> <%= image_tag("netball.svg", alt: "netball", id: "sport-logo") %> </div>
      <div class="logo-div"> <%= image_tag("rugby.svg", alt: "rugby", id: "sport-logo") %> </div>
    </div>

    <div class="form">
            <h1>Search for games</h1>
              <%= form_tag games_path, method: :get, id: :search_form do %>
                <%= text_field_tag :address, params[:address], class: "form-style", placeholder: "Search by address" %>
                <%= submit_tag "Find a game", class: "home-button" %>
              <% end %>
    </div>
  </div>

  <div class="background-collage" style="background-image: url(<%= asset_path "background_collage.png" %>);">

  </div>

</div>



