
<!-- Search Form for ad-->
  <div class="form">
    <h1>Search games local to you!</h1>

    <%= form_tag games_path, method: :get, id: :search_form do %>
      <%#= select_tag :address, params[:address], id: "games-search-bar", placeholder: "Enter your address" %>
      <select name="address" id="games-search-bar" style="height: 60px;">
        <% @addresses.each do |add| %>
          <option value="<%= add %>"><%= add %></option>
        <% end %>
      </select>
      <%= hidden_field_tag :hidden_filter, params[:hidden_filter] || params[:filter][:sports] %>
      <%= submit_tag "Find a game", class: "main-button" %>
    <% end %>
  </div>

  <!-- GAME LIST -->
  <div class="wrapping_games">
    <div class="w70">
      <% @games.each do |game| %>
      <%= link_to game_path(game), :id => "card-link" do %>
        <div class="game-card">
          <div class="left-side-card">
            <div class="main-card-info">
              <h3><%= game.sport %></h3>
              <h2>Team: <%= game.team.name %> (<%= game.format %>)</h2>
              <h3>Address: <%= game.address %></h3>
              <h3>Kick-off: <%= game.date.strftime('%a %d %b %Y') %> <%= game.time.strftime("- %I:%M%p") %></h3>
            </div>
              <% if current_user.address.present? %>
                <% dist = '' %>
                <% dist = Geocoder::Calculations.distance_between(Geocoder.coordinates(current_user.address), [game.latitude, game.longitude]) %>
                <p><%= dist.round(1) %> miles</p>
              <% end %>
          </div>
          <div class="right-side-card">
            <% if game.team.user && game.team.user.photo.attached? %>
              <%= cl_image_tag game.team.user.photo.key, class: "card-trip-user avatar-bordered" %>
            <% else %>
              <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
            <% end %>
            <h2 style="color: green"> Spaces: <%= game.available_spaces %></h2>
            <h2 id="coins"> <i class="fas fa-coins"></i> £<%= game.price.to_i %> </h2>
          </div>
        </div>
        <% end %>
      <% end %>
    </div>

    <!-- MAP -->

    <div id="map"
         data-markers="<%= @markers.to_json %>"
         data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">

    </div>
  </div>
  <%# raise %>

