
<!-- Search Form for ad-->
  <div class="form">
    <h1>Search for games</h1>
    <%= form_tag games_path, method: :get, id: :search_form do %>
      <%= text_field_tag :address, params[:address], id: "games-search-bar", placeholder: "Enter your address" %>
      <%= submit_tag "Find a game", class: "main-button" %>
    <% end %>
  </div>

  <!-- GAME LIST -->
  <div class="wrapping_games">
    <div class="w70">
      <% @games.each do |game| %>
      <%= link_to game_path(game), :id => "card-link" do %>
        <div class="card-trip">
              <div class="left-side-card">
                <div class="main-card-info">
                  <h1><%= game.team.name %> - <%= game.address %></h1>
                  <h3>Kick-off - <%= game.date.strftime('%a %d %b %Y') %> <%= game.time.strftime("at %I:%M%p") %></h3>
                </div>
                <p>Distance to location</p>
              </div>
              <div class="right-side-card">
              <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
              <h2> <%= game.available_spaces %> - players needed</h2>
              </div>
        </div>
        <% end %>
      <% end %>
    </div>

    <!-- MAP -->

    <div id="map"
         data-markers="<%= @markers.to_json %>"
         data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">

    </div>
  </div>
  <%# raise %>

