
<!-- Search Form for ad-->
  <div class="game-form">

    <%= form_tag games_path, method: :get, id: :search_form do %>
      <%#= select_tag :address, params[:address], id: "games-search-bar", placeholder: "Enter your address" %>
      <select name="sort_by" id="games-search-bar" placeholder="Search for games">
          <option value="time">Sort by Time</option>
          <option value="distance">Sort by Distance</option>
      </select>
      <%= submit_tag "Find a game", class: "search-button" %>
    <% end %>
  </div>

  <!-- GAME LIST -->
  <div class="wrapping_games">
    <div class="w70">
      <% @games.each do |game| %>
    <% if game.remaining_spots > 0 %>
      <%= link_to game_path(game), :id => "card-link" do %>
        <div class="game-card" id="card-<%= game.id %>">
          <div class="game-card-top">
            <p><%= image_tag "#{game.sport.downcase}.svg", alt: "alttext", :id => "sport-logo-small" %></p>
            <p><i class="fas fa-clock"></i> <%= game.time.strftime("%I:%M%p") %></p>
          </div>

          <div class="game-card-body">
            <% if game.team.user && game.team.user.photo.attached? %>
              <%= cl_image_tag game.team.user.photo.key, class: 'avatar-card' %>
            <% else %>
              <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="avatar-bordered" />
            <% end %>
              <br>
              <h1 class="team-font"><%= game.team.name %></h1>
              <p class="pb-0"><%= game.format %></p>
              <p><%= game.date.strftime('%a %d %b %Y') %></p>
          </div>
          <div class="game-card-bottom">
            <p> Spaces: <%= game.remaining_spots %></h2>
              <% if current_user.address.present? %>
              <p><%= game.distance_from_user(current_user).round(1) %> miles</p>
              <% end %>
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>
    </div>

    <!-- MAP -->

    <div id="map"
         data-markers="<%= @markers.to_json %>"
         data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">

    </div>
  </div>


