<div class="login">
  <div class="login-triangle"></div>
  <div class="basic_form">
    <h1 class="login-header">Create a new game</h1>
      <%= simple_form_for([@team, @game]) do |f|%>
      <div class="login-container">
        <%= f.input :date, order: [:day, :month, :year], input_html: { class: 'input' } %>
        <%= f.input :time, minute_step: 15, input_html: { class: 'input' } %>
        <%= f.input :sport, :collection => Game::SPORTS, prompt: "Select Sport" %>
        <%= f.input :format, input_html: { class: 'input' } %>
        <%= f.input :address, input_html: { class: 'input' } %>
        <%= f.input :price, input_html: { class: 'input' } %>
        <%= f.input :available_spaces, input_html: { class: 'input' } %>
        <div class="input-info">
          <%= f.submit "Go find your Ringr!", class: "btn btn-block btn-primary submit_button" %>
        </div>
      <% end %>
      </div>
  </div>
</div>
