 <div class="page-container">
  <!-- Game Info -->
  <div class="show-card">

    <div class="card-left">
      <h3 class="text-center" style="font-family: Oswald">Team Details</h3>
      <br>
      <img> <%= image_tag "avatar.png", class: "avatar-bordered" %> </>
      <p>Team: <%= @game.team.name %></p>
      <p><%= @game.format %></p>
      <p>Captain: <%= @game.team.user.first_name%> <%= @game.team.user.last_name%></p>
      <p><%= link_to "Delete game", game_path(@game), method: :delete, data: { confirm: "Are you sure?!" } %></p>
      <%= simple_form_for([@game, @booking]) do |f| %>
        <%= f.submit %>
      <% end %>
      <br>
      <br>
      <div>
        <!-- Bookings for specific game - everyone -->
        <h2>Confirmed Players</h2>
          <% @game.bookings.each do |booking| %>
            <% if booking.status == "accepted" %>
              <% if booking.user.photo.attached? %>
                <%= cl_image_tag booking.user.photo.key, class: "card-trip-user avatar-bordered" %>
              <% else %>
                <img> <%= image_tag "avatar.png", class: "avatar-bordered" %> </>
              <% end %>
                <p><%= booking.user.first_name %><%= booking.user.last_name %></p>
                <p><%= booking.user.profile %></p>
            <% else %>
              <p>There are currently no bookings for this game! Join in below!</p>
            <% end %>
          <% end %>
      </div>
    </div>

    <div class="card-right">
      <h3 style="font-family: Oswald">Game Details</h3>
      <p><%= @game.date.strftime('%a %d %b %Y') %></p>
      <p style="color: green"><%= @game.time.strftime("%I:%M%p") %></p>
      <p><%= @game.team.name %> are looking for <%= @game.available_spaces %> players</p>
      <p>Venue: <%= @game.address %></p>
      <div id="map"
         style="width: 100%;
         height: 250px;"
         data-markers="<%= @marker.to_json%>"
         data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>
    <div class="card-bottom">
    <div id="request-button"> <%= link_to "Request to play", new_team_path, {:id => "request-button"} %> </div>
      </div>
  </div>
</div>

