 <div class="page-container">
  <!-- Game Info -->
  <div class="show-card">

    <div class="show-card-left">
      <p style="text-align: center;"><%= link_to "#{@game.team.name}", team_path(@game.team), :class => 'show-team-font' %></p>
      <div class="show-card-left-flexbox">
      <div style="padding-right: 16px;">
        <h4 style="font-weight:lighter;">Captain</h4>
          <% if @game.team.user.photo.attached? %>
            <%= cl_image_tag @game.team.user.photo.key, class: "card-trip-user avatar-small" %>
          <% else %>
            <img> <%= image_tag "avatar.png", class: "avatar-small" %> </>
          <% end %>
          <p style="font-weight: lighter"><%= @game.team.user.first_name%> <%= @game.team.user.last_name%></p>
      <% if current_user == @game.team.user %>
      <p><%= link_to "Delete game", game_path(@game), :id => "join-button", method: :delete, data: { confirm: "Are you sure?!" }%></p>
      <% end %>
    </div>
    <div style="text-align:center">
      <h4 style="font-weight: lighter;">Confirmed Players</h4>
          <% @game.bookings.each do |booking| %>
            <% if booking.status == "accepted" %>
              <% if booking.user.photo.attached? %>
                <%= cl_image_tag booking.user.photo.key, class: "card-trip-user avatar-bordered" %>
              <% else %>
                <img> <%= image_tag "avatar.png", class: "avatar-bordered" %> </>
              <% end %>
                <p><%= booking.user.first_name %><%= booking.user.last_name %></p>
                <p><%= booking.user.profile %></p>
            <% end %>
          <% end %>
        </div>
      </div>


<!-- Bookings for specific game - everyone view-->
      <div>
        <br>
        <p>Format: <%= @game.format %></p>
          <% if @game.remaining_spots <= 0 %>
            <p>There are no more spots available for this game</p>
          <% else %>
            <p>£ <%= @game.price %> </p>
            <p>Players needed: <%= @game.available_spaces %></p>
          <% end %>
        <p>Address: <%= @game.address %></p>
      </div>

<!-- Bookings for specific game - captain only view-->
      <div>
      <% if current_user == @game.team.user %>
            <!-- Capatain sees requested & rejected bookings-->
      <p>Pending bookings</p>
        <% @game.bookings.each do |booking| %>
          <% if booking.status == "requested" %>
            <% if booking.user.photo.attached? %>
            <span> <%= cl_image_tag booking.user.photo.key, class: "card-trip-user avatar-bordered" %>
            <% else %>
              <img> <%= image_tag "avatar.png", class: "avatar-bordered" %> </>
            <% end %>
              <%= booking.user.first_name %>  <%= booking.user.last_name %></span>
              <p><%= booking.user.profile %></p>
            <% end %>
          <% end %>
      <p>Rejected bookings</p>
        <% @game.bookings.each do |booking| %>
          <% if booking.status == "rejected" %>
            <% if booking.user.photo.attached? %>
              <span><%= cl_image_tag booking.user.photo.key, class: "card-trip-user avatar-bordered" %>
            <% else %>
              <img> <%= image_tag "avatar.png", class: "avatar-bordered" %> </>
            <% end %>
              <%= booking.user.first_name %> <%= booking.user.last_name %></span>
              <p><%= booking.user.profile %></p>
            <% end %>
          <% end %>
        <% end %>
      </div>

    </div>

    <div class="show-card-right">
      <br>
      <h4 style="font-weight:lighter;">Game Info</h4> <p><%= @game.date.strftime('%a %d %b %Y - ') %><i class="fas fa-clock"></i><%= @game.time.strftime(" %I:%M%p") %></p>
      <p>Big game against the top of the league. We've had a last minute dropout so looking for a ringer to come in. Ideally a striker who can finish!</p>

      <div id="map"
         style="width: 100%;
         height: 250px;"
         data-markers="<%= @marker.to_json%>"
         data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>

    <div class="show-card-bottom">
      <% if current_user != @game.team.user %>
        <%= simple_form_for([@game, @booking]) do |f| %>
          <%= f.button :submit, 'Request to Play', id:"request-button" %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>



