 <div class="page-container">
  <!-- Game Info -->
  <div class="show-card">

    <div class="card-left">
      <h3 class="text-center" style="font-family: Oswald">Team Details</h3>
      <br>
      <img> <%= image_tag "avatar.png", class: "avatar-bordered" %> </>
      <p>Team: <%= @game.team.name %></p>
      <p><%= @game.format %></p>
      <p>Captain: <%= @game.team.user.first_name%> <%= @game.team.user.last_name%></p>
      <% if current_user == @game.team.user %>
      <p><%= link_to "Delete game", game_path(@game), method: :delete, data: { confirm: "Are you sure?!" } %></p>
      <% end %>
      <br>
      <br>
      <div>
<!-- Bookings for specific game - everyone view-->
        <h2>Confirmed Players</h2>
          <% @game.bookings.each do |booking| %>
            <% if booking.status == "accepted" %>
              <% if booking.user.photo.attached? %>
                <%= cl_image_tag booking.user.photo.key, class: "card-trip-user avatar-bordered" %>
              <% else %>
                <img> <%= image_tag "avatar.png", class: "avatar-bordered" %> </>
              <% end %>
                <p><%= booking.user.first_name %><%= booking.user.last_name %></p>
                <p><%= booking.user.profile %></p>
            <% end %>
          <% end %>
      </div>

<!-- Bookings for specific game - captain only view-->
      <div>
      <% if current_user == @game.team.user %>
            <!-- Capatain sees requested & rejected bookings-->
      <h2>Pending bookings</h2>
        <% @game.bookings.each do |booking| %>
          <% if booking.status == "requested" %>
            <% if booking.user.photo.attached? %>
            <span> <%= cl_image_tag booking.user.photo.key, class: "card-trip-user avatar-bordered" %>
            <% else %>
              <img> <%= image_tag "avatar.png", class: "avatar-bordered" %> </>
            <% end %>
              <%= booking.user.first_name %>  <%= booking.user.last_name %></span>
              <p><%= booking.user.profile %></p>
            <% end %>
          <% end %>
      <h2>Rejected bookings</h2>
        <% @game.bookings.each do |booking| %>
          <% if booking.status == "rejected" %>
            <% if booking.user.photo.attached? %>
              <span><%= cl_image_tag booking.user.photo.key, class: "card-trip-user avatar-bordered" %>
            <% else %>
              <img> <%= image_tag "avatar.png", class: "avatar-bordered" %> </>
            <% end %>
              <%= booking.user.first_name %> <%= booking.user.last_name %></span>
              <p><%= booking.user.profile %></p>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="card-right">
      <h3 style="font-family: Oswald">Game Details</h3>
      <p><%= @game.date.strftime('%a %d %b %Y') %></p>
      <p style="color: green"><%= @game.time.strftime("%I:%M%p") %></p>
      <p><%= @game.team.name %> are looking for <%= @game.remaining_spots %> players</p>
      <p>Venue: <%= @game.address %></p>
      <div id="map"
         style="width: 100%;
         height: 250px;"
         data-markers="<%= @marker.to_json%>"
         data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>
    <div class="card-bottom">
      <% if current_user != @game.team.user %>
        <%= simple_form_for([@game, @booking]) do |f| %>
          <%= f.button :submit, id:"request-button" %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

