<h2>Game Address: <%= @game.address %></h2>
<h2>Team name: <%= @game.team.name %></h2>
<p>Date: <%= @game.date %> - Time: <%= @game.time %></p>
<p>Sport: <%= @game.sport %></p>
<p>Format: <%= @game.format %></p>
<p>Available spaces: <%= @game.available_spaces %></p>
<%= simple_form_for([@game, @booking]) do |f| %>
  <%= f.submit %>
<% end %>
