<!-- <div class="page-container"> -->
  <!-- Game Info -->
  <div class="show-card">

    <div class="show-card-left">
      <p style="text-align: center;"><%= link_to "#{@game.team.name}", team_path(@game.team), :class => 'show-team-font' %></p>
    <div>
        <p style="font-style: italic;"><%= @game.team.bio %></p>
      </div>
        <div class="show-card-left-flexbox">
           <div class="middle-div">
              <h4 style="font-weight: lighter;">Captain</h4>
              <% if @game.team.user.photo.attached? %>
                <%= cl_image_tag @game.team.user.photo.key, class: "card-trip-user avatar-small" %>
              <% else %>
                <img> <%= image_tag "avatar.png", class: "avatar-small" %> </>
              <% end %>
                <p style="font-weight: lighter"><%= @game.team.user.first_name%> <%= @game.team.user.last_name%></p>
              <% if current_user == @game.team.user %>
                <p><%= link_to "Delete game", game_path(@game), :id => "join-button", method: :delete, data: { confirm: "Are you sure?!" }%></p>
              <% end %>
           </div>
           <div class="bottom-div">
          <h4 style="font-weight: lighter;">Confirmed Players</h4>
            <% if @game.bookings.where(status: "accepted").empty? %>
              <p>This game does not have any confirmed Ringrs yet.</p>
              <% end %>
            <% @game.bookings.each do |booking| %>
              <% if booking.status == "accepted" %>
                <% if booking.user.photo.attached? %>
                  <%= cl_image_tag booking.user.photo.key, class: "card-trip-user avatar-bordered" %>
                <% end %>
                <p><%= booking.user.first_name %><%= booking.user.last_name %></p>
                <p><%= booking.user.profile %></p>
            <% end %>
          <% end %>
           <% if current_user != @game.team.user %>
        <%= simple_form_for([@game, @booking]) do |f| %>
          <%= f.button :submit, 'Request to Play', id:"request-button" %>
        <% end %>
      <% end %>
        </div>


<!-- Bookings for specific game - captain only view-->
      <div>
      <% if current_user == @game.team.user %>
        <% if @game.bookings.where(status: "requested").any? %>
            <!-- Capatain sees requested & rejected bookings-->
      <p>Pending bookings</p>
        <% @game.bookings.each do |booking| %>
          <% if booking.status == "requested" %>
            <% if booking.user.photo.attached? %>
            <span> <%= cl_image_tag booking.user.photo.key, class: "card-trip-user avatar-bordered" %>
            <% else %>
              <%= image_tag "avatar.png", class: "avatar-small" %> </>
            <% end %>
                   <strong><%= booking.user.first_name %>  <%= booking.user.last_name %> </strong> - <%= booking.user.profile %></span>
            <% end %>
          <% end %>
        <% end %>
      <% if @game.bookings.where(status: "rejected").any? %>
      <p>Rejected bookings</p>
        <% @game.bookings.each do |booking| %>
          <% if booking.status == "rejected" %>
            <% if booking.user.photo.attached? %>
              <span><%= cl_image_tag booking.user.photo.key, class: "card-trip-user avatar-bordered" %>
            <% else %>
              <img> <%= image_tag "avatar.png", class: "avatar-bordered" %> </>
            <% end %>
              <%= booking.user.first_name %> <%= booking.user.last_name %></span>
              <p><%= booking.user.profile %></p>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
      </div>
    </div>
  </div>

    <div class="show-card-right">
      <br>
      <h4>Game Details</h4>
          <p><i class="fas fa-clock"></i> <%= @game.time.strftime("%I:%M%p") %>
          <%= @game.date.strftime(' - %a %d %b %Y') %>
        </p>
        <p>Format: <%= @game.format %></p>
        <% if @game.remaining_spots <= 0 %>
          <p>There are no more spots available for this game</p>
        <% else %>
          <p>£ <%= @game.price %> </p>
          <p>Players needed: <%= @game.available_spaces %></p>
        <% end %>
      <p>Venue: <%= @game.address %></p>

      <div id="map"
         style="width: 100%;
         height: 250px;"
         data-markers="<%= @marker.to_json%>"
         data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>
  </div>
</div>
