<h2>Game Address: <%= @game.address %></h2>
<h2>Team name: <%= @game.team.name %></h2>
<p>Date: <%= @game.date %> - Time: <%= @game.time %></p>
<p>Sport: <%= @game.sport %></p>
<p>Format: <%= @game.format %></p>
<p>Available spaces: <%= @game.available_spaces %></p>
<p><%= link_to "Delete game", game_path(@game), method: :delete, data: { confirm: "Are you sure?!" } %></p>
<%= simple_form_for([@game, @booking]) do |f| %>
  <%= f.submit %>
<% end %>

<div id="map"
     style="width: 100%;
     height: 600px;"
     data-markers="<%= @marker.to_json%>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
