<!-- Game Info -->

<h2>Game Address: <%= @game.address %></h2>
<h2>Team name: <%= @game.team.name %></h2>
<p>When: <%= @game.date.strftime('%a %d %b %Y') %> <%= @game.time.strftime("at %I:%M%p") %></p>
<p>Sport: <%= @game.sport %></p>
<p>Format: <%= @game.format %></p>
<p>Available spaces: <%= @game.available_spaces %></p>

<!-- Delete the game action (need some logic) -->

<p><%= link_to "Delete game", game_path(@game), method: :delete, data: { confirm: "Are you sure?!" } %></p>
<%= simple_form_for([@game, @booking]) do |f| %>
  <%= f.submit %>
<% end %>


<!-- Bookings for specific game - everyone -->
<h2>Confirmed Players</h2>
<% @game.bookings.each do |booking| %>
  <% if booking.status == "accepted" %>
    <% if booking.user.photo.attached? %>
      <%= cl_image_tag booking.user.photo.key, class: "card-trip-user avatar-bordered" %>
    <% else %>
      <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
    <% end %>
      <p><%= booking.user.first_name %><%= booking.user.last_name %></p>
      <p><%= booking.user.profile %></p>
  <% else %>
    <p>There are currently no bookings for this game! Join in below!</p>
  <% end %>
<% end %>

<!-- Map for the game -->

<div id="map"
     style="width: 30%;
     height: 200px;"
     data-markers="<%= @marker.to_json%>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
