<!-- Game Info -->

<h2>Game Address: <%= @game.address %></h2>
<h2>Team name: <%= @game.team.name %></h2>
<p>When: <%= @game.date.strftime('%a %d %b %Y') %> <%= @game.time.strftime("at %I:%M%p") %></p>
<p>Sport: <%= @game.sport %></p>
<p>Format: <%= @game.format %></p>
<p>Available spaces: <%= @game.available_spaces %></p>

<!-- Delete the game action (need some logic) -->

<p><%= link_to "Delete game", game_path(@game), method: :delete, data: { confirm: "Are you sure?!" } %></p>
<%= simple_form_for([@game, @booking]) do |f| %>
  <%= f.submit %>
<% end %>


<!-- Map for the game -->

<div id="map"
     style="width: 30%;
     height: 200px;"
     data-markers="<%= @marker.to_json%>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
