<%= video_tag "football_vid.mp4", autoplay: :autoplay, loop: :loop, mute: :mute, class: "home_video" %>
  <div class="login">
    <div class="login-triangle"></div>
    <h2 class="login-header">Account Log in</h2>
      <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="login-container">
            <%= f.input :email,
                        required: false,
                        autofocus: true,
                        label: false,
                        input_html: { autocomplete: "email", placeholder: "Email",
                        class: "input-info" } %>
            <%= f.input :password,
                        label: false,
                        required: false,
                        input_html: { autocomplete: "current-password", placeholder: "Password",
                        :class => "input-info" } %>
            <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
             <div class="input-info">
              <%= f.button :submit, "Log in" %>
              </div>
          <%= render "devise/shared/links" %>
          </div>
        <% end %>


  </div>
</div>
