<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>TODO</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
  </head>
  <body>
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>
    <% unless action_name == 'home' %>
      <div class="page-container">
    <% end %>
      <%= yield %>
    <% unless action_name == 'home' %>
      </div>
    <% end %>
    <div class="ringr-footer">
      <p>this is the ringr footer. Not much to look at yet..</p>
      <p>this is the right side of the page</p>
    </div>
    <%= javascript_pack_tag 'application' %>
  </body>
</html>
