<!DOCTYPE html>
<html>
  <head>
    <title><%= meta_title %></title>
    <meta charset="UTF-8">
    <meta name="description" content="<%= meta_description %>">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>
  <body>
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>
  <% unless action_name == 'home' %>
    <div class="page-container">
   <% end %>

  <%= yield %>
    </div>
      <div>
        <%= render 'shared/footer' %>
      </div>

  </body>
</html>
